body {
text-align: center;
  background-image: radial-gradient(circle, #58A1EB, #29FFCB, #257494);
}

.active-slide {
  background-color: #2162DB;
  width: 100%;
//  height: 50em;
  //border-radius: 50%;
//  border: 1em solid white;
  //display: inline-block;
  text-align: center;

  transform: translateY(35%);





}

.active-slide:before {
    content: "";
    display: block;
    padding-top: 25%;
}



#next-question
#submit-answer
#button_container
 {
text-align: center;

}



#button_container {
  position: relative;
  top: 50%;
   transform: translateY(-50%);

}

#begin-game {
transform: translateY(25em);
font-family: font-family: 'Open Sans', sans-serif;
}

button span{
  display : block;
}




.hide 	{
  display: none;


}





.question-property {
	font-size: 2em;
	color: white;
	line-height: 2em;
}

.answers {
  color: white;
  font-size: 1em;
  line-height: 1.5em;

}
